*{
    margin: 3px;
}
img{
    border: 3px solid black;
    border-radius: 50%;
    width: 150px;
    height: 130px;
    margin-left: 4.5rem; 
    background-color: white;
}

body{
    text-align: justify;
}
.full {
    width: 750px;
    height: 800px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 2fr 4fr;
}
.left {
    position: initial;
    background-color:lightblue;
}
.right{
    position: initial;
    background-color:lightsteelblue;


}
table,th,td{
    border: 2px solid black;
    text-align: center;
}  
